/*To formate DOM's content to its base value*/
/*To remove any margin or border, reset font size & font style, reset the vertical alignment to its default value*/
html, body, div, span, applet,
h1, h2, h3, h4, h5, h6, p, blockquote,
a, big, cite, code,
em, img,
small, strike, strong, sub, sup, tt,
b, u, i, center,
ol, ul, li,
form, label, legend,
table, caption,
article, aside, canvas,
figure, figcaption, footer, header,
menu, nav, output, section {
  margin: 0;
  padding: 0;
  border: 0;
	font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/*To remove bullets from bulleted lists*/
ul, li {
	list-style: none;
}
/*To remove underlining or any other effect on links*/
a {
  text-decoration: none;
  color: black;
}
