/* hyphens & too long words go to next line */
div, textarea, table, td, th, code, pre, samp {
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -o-hyphens: auto;
    hyphens: auto;
}


/*-Elements Positions*/

/*to place object in corners of its closest positioned ancestor*/
.topright {
  position: absolute;
  top: 0;
  right: 0;
}
.topleft {
  position: absolute;
  top: 0;
  left: 0;
}
.bottomright {
  position: absolute;
  bottom: 0;
  right: 0;
}
.bottomleft {
  position: absolute;
  bottom: 0;
  left: 0;
}
/*positionned with float*/
.goleft {
  float:left;
}
.goright {
  float: right;
}

/*place a div with this class between two others to ignore float, for these to place below */
.clearfix {
  clear: both;
}

/*-Elements properties : property precision value*/
/*-Padding */
.paddingS {
  padding: 2em;
}
.paddingM {
  padding: 7em;
}
.paddingL {
  padding: 15em;
}

.paddingtopS {
  padding-top: 2em;
}
.paddingtopM {
  padding-top: 7em;
}
.paddingtopL {
  padding-top: 15em;
}

.paddingrightS {
  padding-right: 2em;
}
.paddingrightM {
  padding-right: 7em;
}
.paddingrightL {
  padding-right: 15em;
}

.paddingbottomS {
  padding-bottom: 2em;
}
.paddingbottomM {
  padding-bottom: 7em;
}
.paddingbottomL {
  padding-bottom: 15em;
}

.paddingleftS {
  padding-left: 2em;
}
.paddingleftM {
  padding-left: 7em;
}
.paddingleftL {
  padding-left: 15em;
}

.paddingaxS {
  padding-left: 2em;
  padding-right: 2em;
}
.paddingaxM {
  padding-left: 7em;
  padding-right: 7em;
}
.paddingaxL {
  padding-left: 15em;
  padding-right: 15em;
}

.paddingayS {
  padding-left: 2em;
  padding-right: 2em;
}
.paddingayM {
  padding-left: 7em;
  padding-right: 7em;
}
.paddingayL {
  padding-left: 15em;
  padding-right: 15em;
}

/*-Margins*/
.marginS {
  margin: 2em;
}
.marginM {
  margin: 7em;
}
.marginL {
  margin: 15em;
}

.margintopS {
  margin-top: 2em;
}
.margintopM {
  margin-top: 7em;
}
.margintopL {
  margin-top: 15em;
}

.marginrightS {
  margin-right: 2em;
}
.marginrightM {
  margin-right: 7em;
}
.marginrightL {
  margin-right: 15em;
}

.marginbottomS {
  margin-bottom: 2em;
}
.marginbottomM {
  margin-bottom: 7em;
}
.marginbottomL {
  margin-bottom: 15em;
}

.marginleftS {
  margin-left: 2em;
}
.marginleftM {
  margin-left: 7em;
}
.marginleftL {
  margin-left: 15em;
}

.marginaxS {
  margin-left: 2em;
  margin-right: 2em;
}
.marginaxM {
  margin-left: 7em;
  margin-right: 7em;
}
.marginaxL {
  margin-right: 15em;
  margin-left: 15em;
}

.marginayS {
  margin-left: 2em;
  margin-right: 2em;
}
.marginayM {
  margin-left: 7em;
  margin-right: 7em;
}
.marginayL {
  margin-right: 15em;
  margin-left: 15em;
}
/*barre de navigation horizontale*/
.navbar {

}

.img-rounded {
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}

/*-Elements sizes*/
/*width*/
.w100p {
  width: 100px;
}
.w200p {
  width: 200px;
}
.w300p {
  width: 300px;
}
.w400p {
  width: 400px;
}
.w500p {
  width: 500px;
}
.w600p {
  width: 600px;
}
.w700p {
  width: 700px;
}
.w800p {
  width: 800px;
}
.w900p {
  width: 900px;
}
.w1000p {
  width: 1000px;
}

.w1-3 {
  width: calc(100%/3);
}
.w2-3 {
  width: calc(100%*2/3);
}
.w1-2 {
  width: 50%;
}

/*height*/
/*pixel values*/
.h100p {
  height: 100px;
}
.h200p {
  height: 200px;
}
.h300p {
  height: 300px;
}
.h400p {
  height: 400px;
}
.h500p {
  height: 500px;
}
.h600p {
  height: 600px;
}
.h700p {
  height: 700px;
}
.h800p {
  height: 800px;
}
.h900p {
  height: 900px;
}
.h1000p {
  height: 1000px;
}
