/* Grille responsive */

.grille, .borderbox{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


/* Display de la Grille et des enfants*/

.grille {
    display: block;
    clear: both;
}


/* Regle fixant la largeur de l'espace externe (double de l'espace interne) */

.grid:first-child {
    padding-left: 20px;
}

.grid:last-child {
    padding-right: 20px;
}


/* Annule les espace entre element*/

.no-space {
    padding: 0;
}


/* Largeur des elements */
/*--1/12--*/
.grid .un-douze, .grid .w-1-12 {
    width: calc(100%/12);
    float: left;
    padding: 10px;
}
/*--2/12--*/
.grid .deux-douze, .grid .w-1-6, .grid .w-2-12 {
    width: calc(100%/6);
    float: left;
    padding: 10px;
}
/*--3/12--*/
.grid .trois-douze, .grid .w-1-4, .grid .w-3-12 {
    width: calc(300%/12);
    float: left;
    padding: 10px;
}
/*--4/12--*/
.grid .quatre-douze, .grid .w-1-3,.grid .w-2-6, .grid .w-4-12 {
    width: calc(100%/3);
    float: left;
    padding: 10px;
}
/*--5/12--*/
.grid .cinq-douze, .grid .w-5-12 {
    width: calc(500%/12);
    float: left;
    padding: 10px;
}
/*--6/12--*/
.grid .six-douze, .grid .w-1-2, .grid .w-2-4, .grid .w-3-6, .grid .w-6-12{
    width: 50%;
    float: left;
    padding: 10px;
}
/*--7/12--*/
.grid .sept-douze, .grid .w-7-12 {
    width: calc(700%/12);
    float: left;
    padding: 10px;
}
/*--8/12--*/
.grid .huit-douze, .grid .w-2-3,.grid .w-4-6, .grid .w-8-12 {
    width: calc(200%/3);
    float: left;
    padding: 10px;
}
/*--9/12--*/
.grid .neuf-douze, .grid .w-3-4, .grid .w-9-12 {
    width: 75%;
    float: left;
    padding-right: 10px;
    padding-bottom: 10px;
}
/*--10/12--*/
.grid .dix-douze, .grid .w-5-6, .grid .w-10-12 {
    width: calc(500%/6);
    float: left;
    padding: 10px;
}
/*--11/12--*/
.grid .onze-douze, .grid .w-11-12 {
    width: calc(1100%/12);
    float: left;
    padding: 10px;
}
/*--12/12--*/
.grid .douze-douze, .grid .w-12-12, .grid .w-1{
    width: 100%;
    float: left;
    padding: 10px;
}
